<div ng-controller="AsideCtrl">
    <div class="col-md-3">
        <h3 id="aside">Asides</h3>
        <p><a href="http://mgcrea.github.io/angular-strap/#/asides">mgcrea.ngStrap.aside</a></p>
        <h5>Dependencies:</h5>
        <ul>
            <li><code>mgcrea.ngStrap.modal</code></li>
        </ul>
    </div>
    <div class="col-md-9">
        <pre class="bs-example-scope">$scope.aside = {{aside | json}};</pre>
        <!-- Button to trigger a default aside with a scope as an object {title:'', content:'', etc.} -->
        <button type="button" class="btn btn-lg btn-primary" bs-aside="aside">Click to toggle aside
            <br />
            <small>(using an object)</small>
        </button>

        <!-- You can use a custom html template with the `data-template` attr -->
        <button type="button" class="btn btn-lg btn-danger" data-template="aside/docs/aside.demo.tpl.html" data-placement="left" data-animation="am-slide-left" bs-aside="aside" data-container="body">Custom aside
            <br />
            <small>(using data-template)</small>
        </button>
    </div>

</div>