<div ng-controller="UiGridCtrl">
    <div class="col-md-3">
        <h3 id="ui-grid">Ui Grid</h3>
        <p><a href="http://ui-grid.info/">ui.grid</a></p>
    </div>
    <div class="col-md-9">
        <button id="refreshButton" type="button" class="btn btn-success" ng-click="refreshData()">Refresh Data</button>  <strong>Calls Pending:</strong> <span ng-bind="callsPending"></span>
        <br>
        <br>
        <strong>{{ myData.length }} rows</strong>
        <br>
        <div id="grid1" ui-grid="gridOptions" ui-grid-cellNav ui-grid-edit ui-grid-resize-columns ui-grid-pinning ui-grid-selection ui-grid-move-columns ui-grid-importer ui-grid-exporter ui-grid-grouping></div>
    </div>
</div>